// APPBAR

body
	.appbar
		font-family font-default-sans-serif, font-family-serif
		//background light
		//color primary
		width 100%
		position fixed
		top 0
		h1
			a
				text-decoration none
				color primary