// ENTRY

.entry
	top 44px
	position relative
	//margin-left -0.75rem
	margin-right 1rem
	.back-button
		margin-right -5px
		padding 10px
	form
		input
			border 4px solid  #e7e7e7
			padding 7px 5px 5px
		.checkbox-container
			display block
			position relative
			padding-left 30px
			margin-bottom 12px
			cursor pointer
			//font-size 22px
			user-select none
			input
				&.check-box
					position absolute
					opacity 0
					cursor pointer
					height 0
					width 0
			.checkmark
				position absolute
				top 0
				left 0
				height 18px
				width 18px
				background-color #e7e7e7