// JOKE

article
	width 100%
	text-align center
	//@media (min-width: 1024px)
	//	width 33%
	.joke
		background-color white
	.button-group
		justify-content space-between
	button
		&.button
			background secondary
			padding 8px
			border 2px solid primary-light
			width 49%
			div
				justify-content flex-start